.theweader-div {
  height: 160px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #303345;
}

.theweader-div img {
  width: 200px;
  filter: drop-shadow(0 0 0.75rem rgb(91, 90, 90));
}

.theweader-div-text {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.temp {
  font-size: 60px;

  font-weight: 600;
}

.weather-description {
  margin-top: -5px;
  margin-left: 5px;
  font-size: 25px;
  color: #555;
}

.degree-symbol {
  font-size: 1.5rem;
  vertical-align: top;
}
